body{
  background-color: rgb(27, 27, 27);
}

#Welcome {
  width: 60%;
  margin: auto;
  text-align: center;
  background-color: rgb(27, 27, 27);
}

#Welcome h1 {
  font-family: "bold";
  padding: 100px;
  color: white;
}
#hora {
  color: white;
}

#menu {
  display: flex;
  width: 90%;
  margin: auto;
  background-color: rgb(27, 27, 27);
}

#menu h1 {
  font-family: "bold";
  color: white;
  padding-right: 600px;
  padding-left: 50px;
}

#menu a {
  width: 100px;
  padding: 10px;
  text-align: center;
  margin: auto;
  text-decoration: none;
  background-color: #f2784b;
  color: white;
  font-family: "bold";
  font-size: 120%;
  border-radius: 10px;
}

#menu a:hover {
  border-bottom: 4px solid white;
}

#menu img {
  border-radius: 50px;
  width: 5%;
  margin: auto;
}
